.iframe-container{
    width:40vw;
    aspect-ratio: 1/1;
    position: fixed;
    bottom:1rem;
    right:1rem;
}

.iframe-container button{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: right;
    margin: 0 .5rem 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.096);
    width: fit-content;
    padding:.1rem .5rem;
    background-color: #fafafa;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    cursor: pointer;
}

.iframe-container iframe{
    border-radius: 10px;
    width:100%;
    aspect-ratio: 1/1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border:5px solid rgba(116, 71, 161, 0.219);
}